@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-center img {
  width: 50px; /* Adjust the size of the logo */
  margin-right: 10px;
}

.navbar-center h1 {
  font-size: 20px;
  margin: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: red;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #000;
}

/* Styles for the dropdown button */
.dropbtn {
  background: #a1b6afbb;
  border: none;
  font-size: 17px;
  padding: 17px;
  color: #fff;
}

/* Styles for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styles for the dropdown content */
.dropdown-content {
  display: none;
  background: #f1f1f1;
  min-width: 160px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styles for the dropdown links */
.dropdown-content a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 17px;
  font-size: 18px;
}

/* Styles for the dropdown links on hover */
.dropdown-content a:hover {
  background: #ddd;
}

/* Show the dropdown menu when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when hovering over the dropdown container */
.dropdown:hover .dropbtn {
  background: #3e8341;
}
